#container, #container1, #container2  {
    overflow: hidden; 
    width: 800px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 3px rgb(116, 108, 108);
}

.sliderJs_slide {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sliderJs_btn {
    width: 50px;
    height: 50px;
    margin: 0 30px 0 30px;
}

.sliderJs_wrapper-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
}

.sliderJs_stopBtn {
    display: none;
}

.sliderJs_hide {
    display: none;
}

